* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/images/map.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

topbar .left-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 0;
  background-color: #000;
  padding-right: 50px;
}
topbar a {
  color: #fff;
  text-decoration: none;
  margin: 10px;
  font-size: 1.5rem;
}
topbar a:hover {
  color: #000;
}

navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px;
  background-color: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
navbar .menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
navbar .menu ul {
  display: flex;
  align-items: center;
  margin-left: 350px;
  list-style: none;
}
navbar .menu ul li {
  font-size: 1.5rem;
  margin-left: 30px;
}
navbar .menu ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
}
navbar .menu ul li a:hover {
  color: #000;
}
navbar button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px;
  font-size: 1.5rem;
  width: 230px;
  padding: 15px;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
}
navbar button:hover {
  background-color: #000;
  color: #fff;
}

.text-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 200px;
  width: 50%;
  margin-left: auto;
  align-items: flex-start;
}
.text-cont h1,
.text-cont h2 {
  color: #fff;
  margin-bottom: 20px;
}
.text-cont h1 {
  font-size: 2.5rem;
  font-weight: 300;
}
.text-cont h2 {
  font-size: 2rem;
  font-weight: 300;
}
.text-cont p,
.text-cont li {
  color: #e0e7e7;
  font-size: 1.5rem;
}
.text-cont p {
  margin-bottom: 20px;
}
.text-cont ul {
  margin-left: 20px;
}

.middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.middle .fee-container,
.middle .our {
  max-width: 1260px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.middle .mem-title {
  max-width: 1260px;
  margin: auto;
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 20px;
  align-self: flex-start;
  background-color: aquamarine;
}
.middle .we-offer {
  max-width: 1260px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 10px;
  align-items: center;
}
.middle .fee-container {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 20px;
  justify-content: space-between;
}
.middle .fee-container .fee-box {
  text-align: left;
  color: #fff;
  padding: 20px 5px;
  margin: 20px;
}
.middle .fee-container .fee-box h1 {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 10px;
}
.middle .fee-container .fee-box h1 span {
  font-size: 1.5rem;
  font-weight: 300;
}/*# sourceMappingURL=style.css.map */