// variables
$primary-font-color: #fff;
$primary-font-color-dark: #000;
$primary-font-color-light: #e0e7e7;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.banner {
  //image-background
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/images/map.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: max-content;
  width: 100%;
  // display: flex;
  // justify-content: center;
  // flex-direction: column;
  // align-items: center;
}
@mixin container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@mixin width {
  max-width: 1260px;
  margin: auto;
}
@mixin a {
  color: $primary-font-color;
  text-decoration: none;
  &:hover {
    color: $primary-font-color-dark;
  }
}
topbar {
  .left-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 0;
    background-color: #000;
    padding-right: 50px;
  }
  a {
    @include a;
    margin: 10px;
    font-size: 1rem;
  }
}

// navbar
navbar {
  @include container;
  width: 100%;
  padding: 20px;
  background-color: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  .menu {
    @include container;
    width: 100%;

    ul {
      display: flex;
      align-items: center;
      width: 90%;
      margin-left: 60px;
      padding-left: 30px;
      justify-content: space-between;
      list-style: none;
      li {
        font-size: 1rem;
        margin-left: 20px;
        a {
          @include a;
          font-weight: 500;
          text-transform: uppercase;
        }
        button {
          background-color: #fff;
          color: $primary-font-color-dark;
          border: none;
          padding: 10px;
          font-size: 1rem;
          width: 230px;
          padding: 15px;
          border-radius: 30px;
          font-weight: 600;
          cursor: pointer;
          &:hover {
            background-color: #000;
            color: #fff;
          }
        }
      }
    }
  }
}

.text-cont {
  @include container;
  flex-direction: column;
  padding: 30px 100px;
  width: 50%;
  margin-left: auto;
  align-items: flex-start;
  line-height: 2rem;
  h1,
  h2 {
    color: #fff;
    margin-bottom: 20px;
  }
  h1 {
    font-size: 1.5rem;
    font-weight: 300;
  }
  h2 {
    font-size: 1.3rem;
    font-weight: 300;
  }
  p,
  li {
    color: $primary-font-color-light;
    font-size: 1rem;
  }
  p {
    margin-bottom: 20px;
  }
  ul {
    margin-left: 20px;
  }
}
.middle {
  @include container;
  flex-direction: column;
  padding: 20px;

  .fee-container,
  .our {
    @include width;
    @include container;
  }
  .mem-title {
    @include width;
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 20px;
    align-self: flex-start;
    background-color: aquamarine;
  }
  .we-offer {
    @include width;
    @include container;

    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 10px;
    align-items: center;
  }
  .fee-container {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 20px;
    justify-content: space-between;

    .fee-box {
      text-align: left;
      color: $primary-font-color;
      padding: 30px 10px;
      margin: 20px;
      h1 {
        font-size: 3rem;
        font-weight: 300;
        margin-bottom: 10px;
        span {
          font-size: 1.5rem;
          font-weight: 300;
        }
      }
    }
  }
}

.pic {
  @include container;
  @include width;
  margin-top: 20px;
  .left {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9rskWdNxqWm05PV6wDIh2bVpDnWBFt6lMOfMODCkW&s");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 620px;
    margin-right: 30px;
    @include container;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: $primary-font-color;
    padding-left: 20px;
    padding-top: 200px;
    h1 {
      margin-bottom: 10px;
    }
    h1 {
      font-size: 2.5rem;
      font-weight: 300;
    }
    p {
      font-size: 1.5rem;
      font-weight: 300;
      margin-bottom: 30px;
    }
    button {
      background-color: #fff;
      color: $primary-font-color-dark;
      border: none;
      padding: 10px;
      font-size: 1.3rem;
      width: 230px;
      padding: 15px;
      border-radius: 30px;
      font-weight: 600;
      cursor: pointer;
      margin-bottom: 20px;
      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }
  .right {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcYkNnvMNUPjTb6I4ivdBNBuyFslSyVwv9Mw&usqp=CAU");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 620px;
    margin-left: 0;
  }
}
.join {
  width: 100%;
  background: rgb(12, 12, 12);
}
.join-cont {
  @include container;
  @include width;
  flex-direction: column;
  color: $primary-font-color;

  padding: 50px;
  h1,
  p {
    margin-bottom: 20px;
    line-height: 40px;
    font-size: 30px;
  }
  button {
    background-color: orange;
    color: $primary-font-color;
    border: none;
    padding: 10px;
    font-size: 1.3rem;
    width: 230px;
    padding: 15px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    &:hover {
      background-color: #fff;
      color: orange;
    }
  }
}

footer {
  width: 100%;
  background-color: #000;
  @include container;
  flex-direction: column;

  .footer-cont {
    @include container;

    padding-top: 20px;

    .footer-column {
      @include container;
      @include width;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      color: #fff;
      width: 300px;
      padding-left: 0;

      h1 {
        font-size: 1.3rem;
        line-height: 1.5rem;
        font-weight: 300;
        margin-bottom: 20px;
      }
      ul {
        list-style: none;
        li {
          font-size: 1rem;
          font-weight: 200;
          margin-bottom: 10px;
          a {
            @include a;
            color: #afb6b5;
          }
        }
      }
    }
  }
}

.social {
  @include container;
  @include width;
  align-items: center;
  justify-content: space-between;

  img {
    margin-right: 30px;
  }
}

.bottom {
  @include width;
  margin-top: 30px;
  color: #e0e7e7;
  align-self: flex-start;
  > * {
    width: 1260px;
  }
  p {
    font-size: 15px;
    font-weight: 300;
    line-height: 40px;
    span {
      color: orange;
      font-weight: 600;
    }
    .term {
      margin-right: 300px;
      color: $primary-font-color-light;
      font-weight: 100;
    }
  }
  hr {
    border: 0.8px solid #e0e7e7;
  }
  .btm {
    @include container;
    width: 1260px;
    font-size: 18px;
    font-weight: 200;
    align-items: center;
    justify-content: space-between;

    > :last-child {
      margin-right: 0px;
    }
  }
}
